.cd-dropdown,
.cd-select {
	position: relative;
	width: 90%;
	margin: 0px 5%;
	top:10px;
	display: block;
}

.cd-dropdown > span {
	width: 92%;
	/*line-height: 60px;*/
	font-weight: 700;
	font-size: 16px;
	background: #4a4a4a;
	display: block;
	padding: 4%;
	padding-left:34px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
    /*background-image: url(../images/arrow_dropdown.png);*/
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: -6%;
    width: 37px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    height: 14%;
    line-height: 23px;
    color: #fff;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 92%;
    background: #616161;
    padding:4%;
	padding-left:34px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	/*border: 1px solid #ddd;*/
}
